
        body{
    background:#f5f7fb;
    font-family:Arial,sans-serif;
}

.card{
    border:none;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card-body{
    padding:25px;
}

h5{
    font-weight:600;
}

.btn{
    border-radius:12px;
}

hr{
    margin:40px 0;
}